@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

// Bootstrap over-ride for most global styles
$body-bg: #2C89C8;
$font-family-sans-serif: "Open Sans";
$link-color: #cccccc;
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: none;

// Bootstrap over-ride for button
$btn-danger-bg: #F05B2A;

// Bootstrap over-ride for forms
$input-border: #d9d9d9;
$input-color: darken($input-border, 30%);
$input-color-placeholder: lighten($input-border, 5%);


// External stylesheets installed with gems
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.nouislider";
@import "jquery-ui";
@import "bootstrap-datepicker3";
@import "selectize";
@import "selectize.default";


// Personal stylesheets
@import "form";           // Form sections and labels (not handled by Bootstrap scss variables)
@import "fa-placeholder"; // library to append font-awesome icons to input placeholder
@import "search-form";    // Specific design for inline search form


body{
  padding-top: 100px;
}

.btn {
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#menu{
  background: #F9FAFA;
  border-radius: 5px;
  box-shadow: 1px 1px 3px darken(#F9FAFA, 40%);
  padding: 40px;
  a{
    font-size: 20px;
    font-weight: 300;
  }
}

