@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

$body-bg: #2C89C8;
$font-family-sans-serif: "Open Sans";

$link-color: #cccccc;
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: none;

$btn-danger-bg: #F05B2A;

$input-border: #d9d9d9;
$input-color: darken($input-border, 30%);
$input-color-placeholder: lighten($input-border, 5%);

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.nouislider";
@import "jquery-ui";
@import "bootstrap-datepicker3";
@import "selectize";
@import "selectize.default";


@import "form";
@import "fa-placeholder";
@import "search";


body{
  padding-top: 100px;
}

.btn {
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#menu{
  background: #F9FAFA;
  border-radius: 10px;
  box-shadow: 0 0 3px #e6e6e6;
  padding: 40px;
  a{
    font-size: 20px;
  }
}

