#trip-search{
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  .selectize-input{
    min-width: 300px !important;
    vertical-align: -10px;
  }

  .input-daterange{
    input{
      height: 36px;
    }
  }
}
