@charset "UTF-8";
/* line 11, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.email::-webkit-input-placeholder::before {
  content: '\f003  '; }
/* line 14, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.email::-ms-input-placeholder::before {
  content: '\f003  '; }
/* line 17, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.email::-moz-input-placeholder::before {
  content: '\f003  '; }
/* line 22, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.password::-webkit-input-placeholder::before {
  content: '\f023  '; }
/* line 25, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.password::-ms-input-placeholder::before {
  content: '\f023  '; }
/* line 28, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.password::-moz-input-placeholder::before {
  content: '\f023  '; }
/* line 33, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.search::-webkit-input-placeholder::before {
  content: '\f002  '; }
/* line 36, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.search::-ms-input-placeholder::before {
  content: '\f002  '; }
/* line 39, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.search::-moz-input-placeholder::before {
  content: '\f002  '; }
/* line 44, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.date::-webkit-input-placeholder::before {
  content: '\f073  '; }
/* line 47, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.date::-ms-input-placeholder::before {
  content: '\f073  '; }
/* line 50, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder.date::-moz-input-placeholder::before {
  content: '\f073  '; }
/* line 56, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder::-webkit-input-placeholder::before {
  font-family: fontAwesome;
  color: #e6e6e6; }
/* line 61, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder::-moz-input-placeholder::before {
  font-family: fontAwesome;
  color: #e6e6e6; }
/* line 66, /Users/papillard/code/Papillard/awesome-forms/source/stylesheets/fa-placeholder.css.scss */
input.fa-placeholder::-ms-input-placeholder::before {
  font-family: fontAwesome;
  color: #e6e6e6; }
