---
title: Awesome forms
---

<div id="menu">
  <h1>Awesome forms</h1>
  <hr>
  <ul>
    <li><%= link_to "Signup form", 'signup.html' %></li>
    <li><%= link_to "Trip search form", 'trip_search.html' %></li>
    <li><%= link_to "Order form", 'order.html' %></li>
  </ul>

</div><!-- .welcome -->