---
title: Awesome forms
---

<div id="menu">
  <h1>Awesome forms</h1>
  <hr>
  <ul>
    <li><%= link_to "Signup form", '/signup' %></li>
    <li><%= link_to "Trip search form", '/trip_search' %></li>
    <li><%= link_to "Order form", '/order' %></li>
  </ul>

</div><!-- .welcome -->